{% load static tailwind_tags %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Admin</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
			rel="stylesheet" />

		<!-- DataTables CSS -->
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css" />

		<!-- jQuery -->
		<script
			type="text/javascript"
			charset="utf8"
			src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

		<!-- DataTables JS -->
		<script
			type="text/javascript"
			charset="utf8"
			src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
		<link
			rel="stylesheet"
			href="{% static 'css/style.css' %}" />
		{% tailwind_css %}
	</head>
	<body class="bg-white">
		<button
			data-drawer-target="cta-button-sidebar"
			data-drawer-toggle="cta-button-sidebar"
			aria-controls="cta-button-sidebar"
			type="button"
			class="fixed bg-green-400 inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
			<span class="sr-only">Open sidebar</span>
			<svg
				class="w-6 h-6"
				aria-hidden="true"
				fill="currentColor"
				viewBox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg">
				<path
					clip-rule="evenodd"
					fill-rule="evenodd"
					d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
			</svg>
		</button>

		<aside
			id="cta-button-sidebar"
			class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
			aria-label="Sidebar">
			<div class="h-full px-3 py-4 overflow-y-auto bg-violet-900">
				<h1 class="text-center font-bold mt-4">Admin</h1>

				<ul class="space-y-2 font-medium mt-24">
					<li class="">
						<a
							href="{% url 'mainDashboard' %}"
							class="flex items-center p-2 text-white rounded-lg">
							<i class="fa-solid fa-users text-lg text-white transition duration-75"></i>
							<span class="ms-3">User Lists</span>
						</a>
					</li>

					<li>
						<a
							href="{% url 'homepage' %}"
							class="flex items-center p-2 text-white rounded-lg hover:bg-gray-100 group">
							<i
								class="fa-solid fa-right-from-bracket flex-shrink-0 text-white transition duration-75 group-hover:text-white"></i>
							<span class="flex-1 ms-3 whitespace-nowrap">Logout</span>
						</a>
					</li>
				</ul>
			</div>
		</aside>

		<div class="p-2 sm:p-4 sm:ml-64">
			<!-- Modal toggle -->

			<div class="p-4">
				{% for message in messages%} {% if message.level_tag == 'success' %}
				<p class="text-center text-green-400 font-bold mt-14 text-md">{{message}}</p>
				{% else %}
				<p class="text-center text-red-400 font-bold mt-14 text-md">{{message}}</p>
				{%endif%} {% endfor %}

				<!-- component -->
				<div class="py-8 mt-4 text-center">
					<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
						<table class="w-full text-sm text-left rtl:text-right text-gray-500">
							<thead class="text-xs text-gray-700 uppercase bg-gray-50">
								<tr>
									<th
										scope="col"
										class="px-6 py-3">
										Student name
									</th>
									<th
										scope="col"
										class="px-6 py-3">
										Email
									</th>
									<th
										scope="col"
										class="px-6 py-3">
										Role
									</th>
									<th
										scope="col"
										class="px-6 py-3">
										Action
									</th>
								</tr>
							</thead>
							<tbody>
								{% for user in student %}
								<tr
									class="bg-white border-b hover:bg-gray-50">
									<th
										scope="row"
										class="px-6 py-4 font-medium text-violet-800 whitespace-nowrap">
										{{user.first_name}}
									</th>
									<td class="px-6 py-4">{{user.email}}</td>
									<td class="px-6 py-4">{{user.last_name}}</td>
									<td class="px-6 py-4">
										<a
											href="{% url 'deleteuser' user.id %}"
											class="bg-red-700 hover:bg-red-900 duration-300 py-1.5 px-4 rounded-xl text-white text-sm">
											<i
												class="fa fa-trash"
												aria-hidden="true"></i>
										</a>
										{% if user.is_staff%}
										<a
											href="{% url 'disapprove_user' user.id %}"
											class="px-3 py-1.5 font-normal ml-4 text-green-400 w-fit rounded-2xl">
											<i
												class="fa fa-check"
												aria-hidden="true"></i>
											Accepted
										</a>

										{% else %}
										<a
											href="{% url 'approve_user' user.id %}"
											class="px-3 py-1.5 font-normal ml-4 text-red-400 w-fit rounded-2xl">
											<i
												class="fa fa-times-circle"
												aria-hidden="true"></i>
											Declined
										</a>
										{% endif %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

				<div class="py-2 mt-0 text-center">
					<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
						<table class="w-full text-sm text-left rtl:text-right text-gray-500">
							<thead class="text-xs text-gray-700 uppercase bg-gray-50">
								<tr>
									<th
										scope="col"
										class="px-6 py-3">
										Instructor name
									</th>
									<th
										scope="col"
										class="px-6 py-3">
										Email
									</th>
									<th
										scope="col"
										class="px-6 py-3">
										Role
									</th>
									<th
										scope="col"
										class="px-6 py-3">
										Action
									</th>
								</tr>
							</thead>
							<tbody>
								{% for lists in instructor %}
								<tr
									class="bg-white border-b hover:bg-gray-50">
									<th
										scope="row"
										class="px-6 py-4 font-medium text-violet-800 whitespace-nowrap">
										{{lists.first_name}}
									</th>
									<td class="px-6 py-4">{{lists.email}}</td>
									<td class="px-6 py-4">{{lists.last_name}}</td>
									<td class="px-6 py-4">
										<a
											href="{% url 'deleteuser' lists.id %}"
											class="bg-red-700 hover:bg-red-900 duration-300 py-1.5 px-4 rounded-xl text-white text-sm">
											<i
												class="fa fa-trash"
												aria-hidden="true"></i>
										</a>
										{% if lists.is_superuser%}
										<a
											href="{% url 'disapprove_instructor' lists.id %}"
											class="px-3 py-1.5 font-normal ml-4 text-green-400 w-fit rounded-2xl">
											<i class="fa fa-check" aria-hidden="true"></i> Accepted
										</a>

										{% else %}
										<a
											href="{% url 'approve_instructor' lists.id %}"
											class="px-3 py-1.5 font-normal ml-4 text-red-400 w-fit rounded-2xl">
											<i
												class="fa fa-times-circle"
												aria-hidden="true"></i>
											Declined
										</a>
										{% endif %}
									</td>
								</tr>

								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
		<script>
			$(document).ready(function () {
				$("#example").DataTable();
			});
		</script>
	</body>
</html>
