<header class="bg-purple-800 sticky top-0 z-50">
	<div class="container mx-auto flex justify-between items-center py-4 px-12">
		<!-- Left section: Logo -->
		<div class="flex items-center">
			<p class="text-white text-xl font-bold">KNHS</p>
		</div>

		<nav class="justify-center">
			<ul class="flex justify-center space-x-4 text-white">
				<li>
					<a
						href="{% url 'homepage' %}"
						class="hover:text-secondary font-bold">
						Home
					</a>
				</li>
				<li>
					<a
						href="{% url 'homeForum' %}"
						class="hover:text-secondary font-bold">
						Forums
					</a>
				</li>
				<li>
					<a
						href="{% url 'about' %}"
						class="hover:text-secondary font-bold">
						About
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
